body {background-color: #bdc3c7;}

h1 {color: #9b59b6}

h2 {color: orange}

li {color: blue}

p {background-color: yellow}

input {border: red 3px solid}

#color {background: gray;}

#large:first-letter {
	color: green;
	font-size: 100px;
}

h1:hover {color: blue;}